@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700&subset=latin,greek,greek-ext,cyrillic,cyrillic-ext,latin-ext,vietnamese);

html, body {
        background-color: #ffffff;
        font-family: "open sans";
        text-align: left; 
        margin: 0px;
        padding: 0px;
        color: #000;
        overflow: hidden;
        font-size: 1em;
        width: 100%;
        max-width: 100%;
}
a,
a:hover { text-decoration: none; color: #2b82d4; }
b, strong{ font-weight: 600; }
input {
        outline: none;
}
.chat-msg-block {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 5px;
        background: #2b82d4;
}
.send-btn {
        position: absolute;
        right: 15px;
        top: 15px;
}
.send-btn input {
        height: 55px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: 600;
        padding: 0 10px;
        width: 55px;
}
#chat_msg {
        height: 55px;
        padding: 0 50px 0 10px;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid rgba(255,255,255,0.3);
        width: 100%;
        background: none;
        color: #ffffff;
}
.chat-msgs-block{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 65px;
	right: 0px;
}
#chat_msgs {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        overflow-y: scroll;
        padding: 15px;
        z-index: 9;
}
#chat_msgs_dt{
        font-size: 0.8em;
	display: none;
	position: relative;
	text-align: center;
        margin: 1px 1px;
        padding: 7px;
	z-index: 10;
	background: rgba(221,221,221,0.7);
}
.chat-msg-container {
	width: 100%;
}
.chat-msg-status {
        font-size: 0.8em;
        float: right;
        clear: both;
        margin: 3px;
        max-width: 60%;
        color: #bbbbbb;
}
.chat-msg-server {
        text-align: left;
        float: left;
        clear: both;
        background: #F5F5F5;
        margin: 3px;
        padding: 3px 10px;
        max-width: 60%;
        border-radius: 2px;
        word-wrap: break-word;
}
.chat-msg-client {
        text-align: left;
        float: right;
        clear: both;
        background: #c7d7f0;
        color: #2e2e2e;
        margin: 3px;
        padding: 3px 10px;
        max-width: 60%;
        border-radius: 2px;
        word-wrap: break-word;
}
.chat-msg-dt-server
{
	text-align: left;
	font-size: 10px;
	color: #888888;
}
.chat-msg-dt-client
{
	text-align: right;
	font-size: 10px;
	color: #888888;
}